

/* 
#grid{
  display: grid;
  grid-template: repeat(10 50px)/ repeat(10 50px);
} */

.images{
  width: 100px;
  /* display:flex; */
    object-fit: contain;
}



/* #api-id{
   grid-row: 1 / 2;
}

#api2{
   grid-row: 2 / 3;
}

.api-class{
  border: solid;
  grid-column: 6 / 10;
  display: grid;
} */

/* .images{
  margin-left: 20px;
  margin-top:10px;
} */

.buttons{
  /* display: flex; */
  width:auto;
  height: auto;
  /* margin-left: 20px;
  margin-bottom: 10px; */
  /* width: 50px; */
}

